{% extends 'base.html' %}

{% block title %}Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="container mt-5">
    <div class="card border shadow-lg">
        <h2 class="card-header bg-primary text-white text-center">Create User</h2>
        <div class="card-body">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                {% endfor %}
            </ul>
            {% endif %}
            <form method="POST" action="{%url 'register' %}"> 
                {% csrf_token %}
                <div class="form-group">
                    {{ form.first_name.label_tag }}
                    {{ form.first_name }}
                </div>
                <div class="form-group">
                    {{ form.last_name.label_tag }}
                    {{ form.last_name }}
                </div>
                <div class="form-group">
                    {{ form.phone_number.label_tag }}
                    {{ form.phone_number }}
                </div>
                <div class="form-group">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>
                <div class="form-group">
                    {{ form.role.label_tag }}
                    <select class="form-control" id="role" name="role"> 
                        <option value="" disabled selected>Select Role</option>
                        <option value="user">user</option>
                        <option value="admin">Admin</option>
                    </select>
                </div>
                <div class="form-group">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label_tag }}
                    {{ form.confirm_password }}
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% include "includes/footer.html" %}
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
<!-- Add these script tags to your HTML file -->



{% endblock javascripts %}