{% extends 'base.html' %}

{% block title %}Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="container">
<div class="card text-center py-3 my-5">
    <div class="card-header">
        <h3>Add data Tables</h3>
    </div>
    <div class="card-body ">
        <form class="form-inline" method="POST">
            <div class="form-group mx-sm-3 mb-2">
              <input type="file" class="form-control" id="import_data" placeholder="import_data">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Import</button>
          </form>
    </div>
  </div>
</div>
{% include "includes/footer.html" %}
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
<!-- Add these script tags to your HTML file -->



{% endblock javascripts %}