{% extends 'base.html' %}

{% block title %}Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container">
<div class="title mt-7 py-3">
    <h3 class="text-center">Manage Users
        <a href="" class="btn btn-sm btn-primary"> <i class="mdi mdi-plus me-1"></i> Add User</a>
    </h3>
</div>
<div class="table-responsive">
    <table class="table table-hover table-border">
      <thead class="table-light">
        <tr>
          <!-- <th>ተ.ቁ</th> -->
          <th>Full Name</th>
          <th>Phone Number </th>
          <th>Role </th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <!-- <td>{{ forloop.counter }}</td> -->
          <td>Abebe</td>
          <td>09232320434</td>
          <td>Prosecutor</td>
          <td>
            <div class="dropdown">
              <a class="font-size-16 text-muted" role="button" data-bs-toggle="dropdown" aria-haspopup="true">
                <i class="mdi mdi-dots-horizontal"></i>
              </a>

              <div class="dropdown-menu dropdown-menu-end">
                <a class="dropdown-item" href="#">Edit</a>
                <a class="dropdown-item" href="#" onclick="return confirm('Are you sure you want to delete this data?')">Remove</a>
              </div>
            </div>
          </td>
        </tr>

      </tbody>
    </table>
    <div class="pagination">
      <span class="step-links">
          {% if new_records.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ new_records.previous_page_number }}">previous</a>
          {% endif %}
      
          <span class="current-page">
              Page {{ new_records.number }} of {{ new_records.paginator.num_pages }}.
          </span>
      
          {% if new_records.has_next %}
              <a href="?page={{ new_records.next_page_number }}">next</a>
              <a href="?page={{ new_records.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
      </span>
  </div>
  </div>
</div>

{% include "includes/footer.html" %}
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
<!-- Add these script tags to your HTML file -->



{% endblock javascripts %}