{% extends 'base.html' %}

{% block title %}Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="m-0">Manage Users</h3>
                        <a href="{% url 'register' %}" class="btn btn-sm btn-light">
                            <i class="mdi mdi-plus me-1"></i> Add User
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="table-light">
                                <tr>
                                    <th>Full Name</th>
                                    <th>User Name</th>
                                    <th>Phone Number</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for account in accounts%}
                                <tr>
                                    <td>{{account.full_name}}</td>
                                    <td>{{account.username}}</td>
                                    <td>{{account.phone_number}}</td>
                                    <td>{{account.email}}</td>
                                    <td>{{account.role}}</td>
                                    <td>
                                        <div class="dropdown">
                                            <a class="btn btn-light btn-sm dropdown-toggle" href="#" role="button"
                                                id="actionDropdown" data-bs-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                Action
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end"
                                                aria-labelledby="actionDropdown">
                                                <a class="dropdown-item" href="{% url 'edit_user' account.id %}">Edit</a>
                                                <a class="dropdown-item" href="{% url 'remove_user' account.id %}"
                                                    onclick="return confirm('Are you sure you want to delete this data?')">Remove</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% include "includes/footer.html" %}
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
<!-- Add these script tags to your HTML file -->



{% endblock javascripts %}