{% extends 'base.html' %}

{% block title %}Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- end list of files -->
<div class="container-fluid mt-3">
    {% if messages %}
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-6">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    <h1 class="mb-4 text-gray-800 text-center">List of Records</h1>
    <div class="card mt-3">
        <div class="card-header bg-primary text-white">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="m-0 order-1 text-white">
               
                  {% if new_records_count == 0 %}
                  No Records Found
                  {% elif new_records_count == 1 %}
                  1 Record Found
                  {% else %}
                  {{ new_records_count }} Records Found
                  {% endif %}
               
                </h3>
                <div class="order-2">
                  <a href="{% url 'add_data' %}" class="btn btn-sm btn-light text-dark">
                    <i class="mdi mdi-plus me-1"></i> Add
                  </a>
                  <a href="{% url 'import_data' %}" class="btn btn-sm btn-light text-dark">
                    <i class="mdi mdi-plus me-1"></i> Import
                  </a>
                  <a href="{% url 'export_data' %}" class="btn btn-sm btn-light text-dark">
                    <i class="mdi mdi-plus me-1"></i> Export
                  </a>
                </div>
              </div>
              
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="table-light">
                        <tr>
                            <th>ተ.ቁ</th>
                            <th>ከሳሽ መልስ ሰጭ</th>
                            <th>ተከሳሽ መልስ ሰጭ</th>
                            <th>የቤት ቁጥር</th>
                            <th>የመ.ቁ</th>
                            <th>ክርክሩ የነበረበት ፍ/ቤት</th>
                            <th>የክርክሩ አይነት</th>
                            <th>መዝገቡ የመጣበት ቀን</th>
                            <th>ፍርድ ቤቱ ውሳኔ የሰጠበት ቀን</th>
                            <th>የውሳኔ ግልባጭ የተላከበት ቀን</th>
                            <th>ጉዳዩን የያዘው ዐቃቤ ህግ ስም</th>
                            <th>በፍ/ቤቱ ውሳኔ መሰረት ተፈፅሞል/አልተፈፀመም</th>
                            <th>ለሌላ ዐቃቤ ህግ ያስተላልፉ</th>
                            <th>ድርጊት</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for new_record in new_records %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ new_record.accusor_name }}</td>
                            <td>{{ new_record.defendent_name }}</td>
                            <td>{{ new_record.house_number }}</td>
                            <td>{{ new_record.id_number }}</td>
                            <td>{{ new_record.court_house }}</td>
                            <td>{{ new_record.debate_type }}</td>
                            <td>{{ new_record.date_archive_initiated|date:"d/m/Y" }}</td>
                            <td>{{ new_record.date_court_decision_made|date:"d/m/Y" }}</td>
                            <td>{{ new_record.date_court_decision_copy_sent|date:"d/m/Y" }}</td>
                            <td>{{ new_record.prosecutor }}</td>
                            <td>{{ new_record.status }}</td>
                            <td>
                                <div class="avatar-group">
                                    <div class="avatar-group-item">
                                        <a href="javascript: void(0);" class="d-inline-block">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt=""
                                                class="rounded-circle avatar-sm">
                                        </a>
                                    </div>
                                    <div class="avatar-group-item">
                                        <a href="javascript: void(0);" class="d-inline-block">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt=""
                                                class="rounded-circle avatar-sm">
                                        </a>
                                    </div>
                                    <div class="avatar-group-item">
                                        <a href="javascript: void(0);" class="d-inline-block">
                                            <div class="avatar-sm">
                                                <span
                                                    class="avatar-title rounded-circle bg-success text-white font-size-16">A</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <a class="font-size-16 text-muted" role="button" data-bs-toggle="dropdown"
                                        aria-haspopup="true">
                                        <i class="mdi mdi-dots-horizontal"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a class="dropdown-item" href="{% url 'edit_data' new_record.id %}">Edit</a>
                                        <a class="dropdown-item" href="{% url 'remove_data' new_record.id %}"
                                            onclick="return confirm('Are you sure you want to delete this data?')">Remove</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="pagination mt-3 mx-2">
        <span class="step-links">
            {% if new_records.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ new_records.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current-page">
                Page {{ new_records.number }} of {{ new_records.paginator.num_pages }}.
            </span>
            {% if new_records.has_next %}
            <a href="?page={{ new_records.next_page_number }}">next</a>
            <a href="?page={{ new_records.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>


    {% include "includes/footer.html" %}
    {% endblock content %}

    <!-- Specific JS goes HERE -->
    {% block javascripts %}

    <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
    <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
    <!-- Add these script tags to your HTML file -->



    {% endblock javascripts %}