<!-- <nav class="sidenav navbar navbar-vertical fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <div class="sidenav-header align-items-center text-center">
      <a class="navbar-brand" href="/">
        <img src="/static/assets/img/brand/officelogo.png" class="navbar-brand-img" alt="Logo">
      </a>
    </div>
    <div class="navbar-inner">
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <ul class="navbar-nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link btn btn-sm" href="/">
              <i class="ni ni-tv-2 text-primary"></i>
              <span class="nav-link-text">Dashboard Reports</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" role="button" data-bs-toggle="dropdown" aria-haspopup="true" href="#">
              <i class="ni ni-circle-08 text-success"></i>
              <span class="nav-link-text">Manage Files</span>
              <i class="mdi mdi-dots-horizontal mx-2"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end mx-5">
              <a class="dropdown-item" href="{% url 'manage_user' %}">Files</a>
              <a class="dropdown-item" href="{% url 'register' %}">Add Files</a>
            </div>
          </li>
        </ul>
        <hr class="my-3">
        <h6 class="navbar-heading p-0 text-muted">
          <span class="docs-normal">Admin Tools</span>
        </h6>
        <ul class="navbar-nav justify-content-center">
          <li class="nav-item dropdown">
            <a class="nav-link" role="button" data-bs-toggle="dropdown" aria-haspopup="true" href="{% url 'manage_user' %}">
              <i class="ni ni-circle-08 text-success"></i>
              <span class="nav-link-text">Manage Users</span>
              <i class="mdi mdi-dots-horizontal mx-2"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end mx-5">
              <a class="dropdown-item" href="{% url 'manage_user' %}">User List</a>
              <a class="dropdown-item" href="{% url 'register' %}">Add Users</a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav justify-content-center">
          <li class="nav-item dropdown">
            <a class="nav-link" role="button" data-bs-toggle="dropdown" aria-haspopup="true" href="{% url 'manage_user' %}">
              <i class="ni ni-circle-08 text-success"></i>
              <span class="nav-link-text">Share Documents</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav> -->


<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <div class="sidenav-header align-items-center">
      <a class="navbar-brand" href="/">
        <img src="/static/assets/img/brand/officelogo.png" class="navbar-brand-img" alt="Logo">
      </a>
    </div>
    <div class="navbar-inner">
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">
              <i class="ni ni-tv-2 text-primary"></i>
              <span class="nav-link-text">Dashboard</span>
            </a>
          </li>
          <div class="dropdown-divider"></div>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
              <i class="ni ni-folder-17 text-primary"></i>
              <span class="nav-link-text">Manage Files</span>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'create_file' %}">
                <i class="ni ni-fat-add"></i>
                Add Files
              </a>
              <a class="dropdown-item" href="{% url 'file_list' %}">
                <i class="ni ni-single-copy-04"></i>
                File Lists
              </a>
            </div>
          </li>
          <div class="dropdown-divider"></div>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
              <i class="ni ni-single-copy-04 text-primary"></i>
              <span class="nav-link-text">Manage Records</span>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'add_data' %}">
                <i class="ni ni-fat-add"></i>
                Add Records
              </a>
              <a class="dropdown-item" href="{% url 'records' %}">
                <i class="ni ni-single-copy-04"></i>
                Record Lists
              </a>
            </div>
          </li>
          <div class="dropdown-divider"></div>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
              <i class="ni ni-circle-08 text-primary"></i>
              <span class="nav-link-text">Manage Users</span>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'manage_user' %}">
                <i class="ni ni-single-02"></i>
                User List
              </a>
              <a class="dropdown-item" href="{% url 'register' %}">
                <i class="ni ni-fat-add"></i>
                Add Users
              </a>
            </div>
          </li>
          <div class="dropdown-divider"></div>
        </ul>
      </div>
    </div>
  </div>
</nav>
