{% extends 'base.html' %}

{% block title %}Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="container-fluid mt-3">
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <div class="order-1">
          <h5 class="font-size-16 me-3 mb-0">Dashboard</h5>
        </div>
        <div class="order-2">
          {% if total_count == 0 %}
          No Files Found
          {% elif total_count == 1 %}
          1 Total File Found
          {% else %}
          {{ total_count }} Total Files Found
          {% endif %}
        </div>
      </div>
      <div class="row mt-4">
        <div class="container-fluid mt-3">
          <div class="row">

            <div class="col-xl-3 col-md-6">
              <a href="{% url 'show_pdf_files' %}" class="text-decoration-none" id="pdf_files">
                <div class="card bg-primary text-white">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                      <i class="fas fa-file-pdf fa-3x"></i>
                      <div class="text-right">
                        <h5 class="card-title">PDF Files
                          <i class="fas fa-external-link-alt"></i>
                        </h5>
                        <p class="card-text">{{ pdf_count }} Files</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-xl-3 col-md-6">
              <a href="{% url 'show_excel_files' %}" class="text-decoration-none">
                <div class="card bg-success text-white">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                      <i class="fas fa-file-excel fa-3x"></i>
                      <div class="text-right">
                        <h5 class="card-title">Excel Files
                          <i class="fas fa-external-link-alt"></i>
                        </h5>
                        <p class="card-text">{{ excel_count }} Files</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-xl-3 col-md-6">
              <a href="{% url 'show_audio_files' %}" class="text-decoration-none">
                <div class="card bg-info text-white">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                      <i class="fas fa-file-audio fa-3x"></i>
                      <div class="text-right">
                        <h5 class="card-title">Audio Files
                          <i class="fas fa-external-link-alt"></i>
                        </h5>
                        <p class="card-text">{{ audio_count }} Files</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-xl-3 col-md-6">
              <a href="{% url 'show_video_files' %}" class="text-decoration-none">
                <div class="card bg-warning text-dark">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                      <i class="fas fa-video fa-3x"></i>
                      <div class="text-right">
                        <h5 class="card-title">Video Files
                          <i class="fas fa-external-link-alt"></i>
                        </h5>
                        <p class="card-text">{{ video_count }} Files</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-xl-3 col-md-6">
              <a href="{% url 'show_image_files' %}" class="text-decoration-none">
                <div class="card bg-danger text-white">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                      <i class="fas fa-image fa-3x"></i>
                      <div class="text-right">
                        <h5 class="card-title">Images
                          <i class="fas fa-external-link-alt"></i>
                        </h5>
                        <p class="card-text">{{ image_count }} Files</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-xl-3 col-md-6">
              <a href="{% url 'show_word_files' %}" class="text-decoration-none">
                <div class="card bg-info text-white">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                      <i class="fas fa-file-word fa-3x"></i>
                      <div class="text-right">
                        <h5 class="card-title">Words
                          <i class="fas fa-external-link-alt"></i>
                        </h5>
                        <p class="card-text">{{ word_count }} File</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-xl-3 col-md-6">
              <a href="{% url 'show_ppt_files' %}" class="text-decoration-none">
                <div class="card bg-success text-white">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                      <i class="fas fa-file-powerpoint fa-3x"></i>
                      <div class="text-right">
                        <h5 class="card-title">Power Point
                          <i class="fas fa-external-link-alt"></i>
                        </h5>
                        <p class="card-text">{{ ppt_count }} File</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% if recent_files %}
<div class="container-fluid">
  <h3 class="mb-4 text-gray-800 text-center mt-3">Recent File Activities</h3>
  <div class="card mt-3">
    <div class="card-header text-dark">
      <div class="d-flex justify-content-between align-items-center">
        <h3 class="m-0 order-1 text-dark">
          {% if files_count == 0 %}
          No Files Found
          {% elif files_count == 1 %}
          1 File Found
          {% else %}
          {{ files_count }} Files Found
          {% endif %}
        </h3>
      </div>
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="table-light">
            <tr>
              <th>No.</th>
              <th>File Name</th>
              <th>Uploaded By</th>
              <th>Modified By</th>
              <th>Modified Date</th>
              <th>Activities</th>
              {% if request.user.role == 'admin' %}
              <th>Action</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for recents in recent_files %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{recents.file_name}}</td>
              <td>{{recents.uploaded_by}}</td>
              <td>{{recents.modified_by}}</td>
              <td>{{recents.date_modified}}</td>
              <td>{{recents.edited_or_deleted}}</td>

              {% if request.user.role == 'admin' %}
              <td>
                {% if activity_file.edited_or_deleted == 'Edited' %}
                <a href="{% url 'restore_deleted_file' recents.id %}" 
                onclick="return confirm('Are you sure you want to restore this file?')"
                class="btn btn-sm btn-primary">Restore</a>
                {% endif %}
                <a href="{% url 'clear_activity' recents.id %}"
                  onclick="return confirm('Are you sure you want to clear this file?')"
                  class="btn btn-sm btn-danger">Clear</a>
              </td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if recent_records %}
<div class="container-fluid">
  <h3 class="mb-4 text-gray-800 text-center mt-3">Recent Record Activities</h3>
  <div class="card mt-3">
    <div class="card-header text-dark">
      <div class="d-flex justify-content-between align-items-center">
        <h3 class="m-0 order-1 text-dark">
          {% if files_count == 0 %}
          No Records Found
          {% elif files_count == 1 %}
          1 Record Found
          {% else %}
          {{ files_count }} Records Found
          {% endif %}
        </h3>
      </div>
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="table-light">
            <tr>
              <th>No.</th>
              <th>Accuser</th>
              <th>Defendent</th>
              <th>Prosecutor</th>
              <th>Modified By</th>
              <th>Modified Date</th>
              <th>Activities</th>
              {% if request.user.role == 'admin' %}
              <th>Action</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for recent_record in recent_records %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{recent_record.accusor_name}}</td>
              <td>{{recent_record.defendent_name}}</td>
              <td>{{recent_record.prosecutor}}</td>
              <td>{{recent_record.modified_by}}</td>
              <td>{{recent_record.date_modified}}</td>
              <td>{{recent_record.edited_or_deleted}}</td>

              {% if request.user.role == 'admin' %}
              <td>
                {% if activity_record.edited_or_deleted == 'Edited' %}
                <a href="{% url 'restore_deleted_records' recent_record.id %}" onclick="return confirm('Are you sure you want to clear this file?')"
                class="btn btn-sm btn-primary">Restore</a>
                {% endif %}
                <a href="{% url 'clear_recent_record' recent_record.id %}" onclick="return confirm('Are you sure you want to clear this file?')"
                  class="btn btn-sm btn-danger">Clear</a>
              </td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endif %}


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

{% endblock javascripts %}